.form-field {
  display: flex;
  flex-direction: column;
}

.form-field input, .form-field select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
}

.validation-message {
  color: #fff;
  font-size: 0.8rem;
  padding: 8px;
  margin-bottom: 10px;
}